.container {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.table-container {
  overflow-x: auto;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.employee-table th,
.employee-table td {
  padding: 12px 16px;
  text-align: left;
}

.employee-table thead {
  background-color: #009879;
  color: #ffffff;
}

.employee-table tr {
  border-bottom: 1px solid #ddd;
}

.employee-table tr:hover {
  background-color: #f9f9f9;
}

.loading {
  text-align: center;
  padding: 16px;
}

.error {
  color: red;
  text-align: center;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.pagination span ,
.pagination button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
  background-color: #009879;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.current-page {
  font-weight: bold;
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #f0f0f0;
}
